<div class="spinner" *ngIf="!deal">
  <md-spinner></md-spinner>
</div>

<div class="container-fluid" *ngIf="deal" #dealDetail>

  <div class="clearfix check-out " *ngIf="deal.status == 'ACTIVE'">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button class="check-out-button btn btn-primary btn-block"><i class="fa fa-shopping-cart"></i> 结算</button>
    </div>
  </div>
  

  <div class="row clearfix">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 thumbnail">
      <img class="gm-official" src="assets/gm-official.svg" *ngIf="deal.official"/>
      <p class="deal-title">{{ deal.title }}</p>
      <div *ngIf="deal.status === 'ACTIVE'">
        <p class="deal-attention">离截团还有：</p>
        <p class="deal-countdown">{{ onGetTime() }}</p>
      </div>

      <p class="deal-attention" *ngIf="deal.status === 'INACTIVE'">【已截团】</p>
       
      <div class="deal-bottom-info">
        <div class="pull-right">
          <img class="avatar" [src]="deal.owner.profileImage" />
          
          <a class="display-name">{{ deal.owner.displayName }}</a>
          
          <span><i class="fa fa-eye"></i> {{ deal.viewCount }}</span>  
          <span><i class="fa fa-thumbs-up"></i>  {{ deal.likesCount  }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row clearfix lastest-order" *ngIf="orders && orders.length > 0">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 ">
        <img class="avatar" [src]="orders[0].owner.profileImage || 'assets/default_profile.svg'">
        {{ orders[0].owner.displayName }} {{ getLastestOrderTimeFromNow(orders[0].purchaseDate) }} 已下单，快与{{ deal.orderCount - 1 }}个邻居一起省
      </div>
  </div>

  <div class="row clearfix">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 thumbnail">

        <div class="pickup-info">
          <div class="pickup-time">
            <label for="">提货时期:</label>
            <span class="pickup-time-month">{{ getPickupMonth() }}</span>
            <span class="pickup-time-day">{{ getPickupDay() }}</span>
          </div>
          <div class="pickup-location">
            <label for="">提货地址:</label>
            <ul class="pickup-location-list" [ngClass]="{'expand': isAddressExpand}">
              <li *ngFor="let location of deal.dealPickupLocations">
                <i class="fa fa-star"></i> {{ location.description }}
              </li>
            </ul>
            <button (click)="toggleAddress()" class="toggle-address-button"><i class="fa fa-caret-right"></i> {{ isAddressExpand ? '隐藏提货点' : '显示提货点' }}</button>
            
          </div>
        </div>

        <div class="category-filter">

          <label>Category Filter:</label>
          <select class="form-control" (change)="onFilterChange($event.target.value)">
            <option value="All" selected>All</option>
            <option 
              *ngFor="let categoryElm of categories"
              [value]="categoryElm"
            >
              {{ categoryElm }}
            </option>
          </select>

        </div>

        <div class="deal-item-container">
          <app-deal-item
            *ngFor="let dealItemElm of deal.dealItems | dealItemCategoryPipe:this.category"  
            [dealItem]="dealItemElm"
          >
          </app-deal-item>
        </div>
      </div>
  </div>

  <div class="row clearfix">
    <div class="deal-detail col-xs-12 col-sm-8 col-sm-offset-2 thumbnail">
       <b>本单详情</b><br><br>
       <div class="deal-description" [innerHTML]="deal.description"></div>
       <div class="alert alert-warning" role="alert">
        <i class="fa fa-bell"></i> Grubmarket为第三方提供交易服务平台, 除官方团购外, 无法鑑别判断第三方交易方物品来与纷争。敬请交易双方事前辨明。如果出现第三方物品纠纷，如交易一方违反法律规定而出现纠纷与及不良结果，由交易行爲人独立承担所有责任，【Grubmarket】概不负责也不承担任何法律责任。
       </div>
    </div>
  </div>


  <div class="row clearfix" *ngIf="deal.official">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 thumbnail">
      <h5>供应商介绍</h5>
      <div class="supplier-info">
        <img src="https://tuangou-prod.s3.amazonaws.com/suppliers/7339647a-2da5-11e6-8ed4-06b3104fd655/GrubMarket-logo.png">
        <span>GrubMarket 提供的所有产品均经过严格筛选，并完成了公司供应商的审核流程。所有 GrubMarket 的供应商均相关证照齐全，品质绝对保障!</span>
      </div>
    </div>
  </div>

  <div class="row clearfix deal-end-button">
    <div class="deal-detail col-xs-12 col-sm-8 col-sm-offset-2">
      <button *ngIf="deal.status === 'INACTIVE'" class="btn btn-info btn-block btn-inactive" disabled>已截团</button>
    </div>
  </div>


  <div class="row clearfix">
    <div class="deal-detail col-xs-12 col-sm-8 col-sm-offset-2 thumbnail">
      <h5>购买记录 ({{ deal.orderCount > 0 ? deal.orderCount - 1 : 0}})</h5>
      <app-deal-order
        *ngFor="let orderElm of orders"
        [order]="orderElm"
      >
      </app-deal-order>
      <p *ngIf="deal.orderCount == 0">暂时没有购买记录</p>
    </div>
  </div>

  <div class="spinner" *ngIf="dealService.isOrderFetching">
    <md-spinner></md-spinner>
  </div>

</div>