.top-spinner {
  display: flex;
  justify-content: center;
}

.thumbnail {
  padding: 30px;
  border-radius: 5px;
  border: none;
}

.deal-title {
  color: gray;
  font-size: 15px;
  text-align: center;
}

:host /deep/ img {
  width: 100%;
  height: auto;
}

.deal-attention {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.deal-countdown {
  color: red;
  font-size: 20px;
  text-align: center;
  margin: 20px;
}

.pull-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: gray;
}

.avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  overflow: hidden;
  object-fit: cover;
  padding: 4px;
  background-color: #f1f2f7;
  margin-right: 10px;
}

.display-name {
  max-width: 100px;
  height: 20px;
  text-overflow: ellipsis;
  color: gray;
  text-decoration: none;
  cursor: pointer;

  /* BOTH of the following are required for text-overflow */
  overflow: hidden;
  white-space: nowrap;
}

.pickup-info {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding: 20px 0;
}

.pickup-time {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.pickup-time-month {
  background-color: #55c3be;
  width: 70%;
  border-radius: 5px 5px 0 0;
  text-align: center;
  color: #fff;
  padding: 0;
  font-size: 15px;
}

.pickup-time-day {
  width: 70%;
  font-size: 30px;
  border-radius: 0 0 5px 5px;
  color: #000;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  padding: 10px;
  text-align: center;
}

.pickup-time > label, .pickup-location > label {
  color: #777;
}

.pickup-location-list {
  list-style-type: none;
  max-height: 40px;
  overflow: hidden;
  transition: all .3s ease-in-out;
  margin: 0;
}

.pickup-location-list.expand {
  height: auto;
  max-height: 100%;
  transition: all .3s ease-in-out;
}

.toggle-address-button {
  color: #37a96c;
  background-color: transparent;
  border: none;
  outline: none;
}

.deal-item-container {
  transition: all 1s ease-in-out;
}

ul {
  padding: 0;
}

.fa.fa-star {
  color: #777;
}

.pickup-location {
  width: 80%;
}

.deal-bottom-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}



.pull-right > a, span {
  padding-right: 10px;
}

.check-out {
  position: fixed;
  bottom: 10px;
  width: 80%;
  left: 10%;
  z-index: 1024;
}

@media (max-width: 767px) {
  .check-out {
    bottom: 60px;
  }
}

.check-out-button {
  background-color: #2b985e;
  border: none;
  border-radius: 0;
  font-size: 1.6em;
}

.alert {
  font-size: 12px;
}

.fa.fa-shopping-cart {
  font-size: 1.3em;
}

.gm-official {
  width: 250px;
  margin-bottom: 20px;
}

.category-filter {
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}


