<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" id="logo" class="navbar-brand">
        <img src="../assets/logo.png" alt="GrubMarket">
      </a>
      <a href="#" class="auth-mobile visible-xs-block">登入</a>
    </div>

    <div class="navbar-default collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/home">主页</a></li>
        <li routerLinkActive="active"><a routerLink="/blogs">热帖</a></li>
        <li routerLinkActive="active"><a routerLink="/deals">团购</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">注册</a></li>
        <li><a href="#">登入</a></li>
      </ul>
    </div>
  </div>
</nav>