<footer class="visible-xs-block footer-mobile">
  <div class="row text-center footer-menus">
    <div class="col-xs-3 footer-menu">
      <a>
        <div class="publish-btn-mobile ng-scope" translate="nav.publish.title" translate-cloak="">发布 <i class="fa fa-angle-down white"></i></div>
      </a>
    </div>
    <div class="col-xs-3 footer-menu">
      <a>
        <div class="ng-scope" translate="nav.blogs" translate-cloak="">热帖</div>
      </a>
    </div>
    <div class="col-xs-3 footer-menu">
      <a>
        <div class="ng-scope" translate="nav.deals" translate-cloak="">团购</div>
      </a>
    </div>
    <div class="col-xs-3 footer-menu">
      <a>
        </a><div class="me-btn-mobile"><a href="">
          </a><a class="ng-scope" translate="nav.me.title" translate-cloak="">我</a>
        </div>
      
    </div>
  </div>
</footer>