<div class="deal col-xs-12 col-sm-6 col-md-3">
  <div class="thumbnail">
    <div class="image-container">
      <img class="thumbnail-img" [src]="deal.dealItems[0].imagePath" alt="...">
      <span class="deal-date">5/9/17 - 7/7/17</span>
      <img class="avatar" [src]="deal.owner.profileImage" alt="" />
    </div>
    <div class="caption">
      <p>{{ deal.title }}</p>
    </div>
    <div class="thumbnail-bottom">
      <span class="thumbnail-bottom-info"><i class="fa fa-eye"></i> {{ deal.viewCount }}</span>
      <span class="thumbnail-bottom-info"><i class="fa fa-thumbs-up"></i> {{ deal.likesCount }}</span>
      <span class="thumbnail-bottom-info"><i class="fa fa-shopping-cart"></i> {{ deal.orderCount }}</span>
    </div>
  </div>
</div>