<div class="deal col-xs-12 col-sm-6 col-md-3">
  <div class="thumbnail">
    <div class="image-container">
      <img class="thumbnail-img" src="https://tuangou-prod.s3.amazonaws.com/upload/b5f96133-5777-4cd1-a0d4-7b1f8fe00da1/1494440241903.JPG" alt="...">
      <span class="deal-date">5/9/17 - 7/7/17</span>
      <img class="avatar" src="https://tuangou-prod.s3.amazonaws.com/upload/b5f96133-5777-4cd1-a0d4-7b1f8fe00da1/1494359415711.jpg" alt="" />
    </div>
    <div class="caption">
      <p>7.9周日送MA～公认最好吃的夏威夷紫薯/ 箱/约30磅左右</p>
    </div>
    <div class="thumbnail-bottom">
      <span class="thumbnail-bottom-info"><i class="fa fa-eye"></i> 114</span>
      <span class="thumbnail-bottom-info"><i class="fa fa-thumbs-up"></i> 0</span>
      <span class="thumbnail-bottom-info"><i class="fa fa-shopping-cart"></i> 2</span>
    </div>
  </div>
</div>