.deal.col-xs-12.col-sm-6.col-md-3 {
  margin: 0px;
  padding: 7px;
}

.thumbnail-img {
  height: 250px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  padding: 0px;
}

.thumbnail {
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  margin: 0;
}

.image-container {
  position: relative;
}

.deal-date {
  padding: 10px 20px;
  position: absolute; 
  bottom: 0; 
  left: 0;
  background-color: rgba(73,189,153,.8);
  color: white;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  overflow: hidden;
  object-fit: cover;
  display: inline-block;
  position: absolute;
  bottom: -25px;
  right: 10px;
  border: 2px solid #fff;
}

.caption {
  height: 80px;
  padding: 20px 20px;
  padding-right: 60px;
  margin: 0;
}

.caption>p {
  height: 40px;
  overflow: hidden;
  position: relative;
}

.caption>p:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 1.4em;
    background: linear-gradient(90deg,hsla(0,0%,100%,0),#fff 50%);
}

.thumbnail-bottom {
  display: flex;
  justify-content: flex-end;
  height: 37px;
  align-items: center;
  border-top: 1px solid lightgray;
}

.thumbnail-bottom-info {
  margin: 0 10px;
  color: #afb2b4;
}