/* You can add global styles to this file, and also import other style files */
body {
  background-color: #F1F2F7;
}

img.insideImg {
  width: 100%;
}

.deal-detail.deal-description>img {
  width: 100%;
}